# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea

build

.env_local
volumes

nano-node
Nault
rebrand_lib.py
rebrand_nault.py
nanocurrency-v2.5.0.tar.gz
.env_local_example
nanocurrency-js
__pycache__/

.idea


